{% load static %}
<footer class="pt-5 pb-4 bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 mt-2 mt-md-0">
                <span>Copyright 2022. All rights reserved.</span>
            </div>
            <div class="col-md-4 col-sm-6 mt-2 mt-md-0 text-md-center socials">
                <img src="{% static './images/social.png' %}" height="10" alt="" class="img-fluid">
            </div>
            <div class="col-md-4 col-sm-6 text-md-end my-2 my-md-0">
                <span>
                    Made by <a href="https://james-muriithi.firebaseapp.com/" class="text-dark fw-bold">James
                        Muriithi</a>
                </span>
            </div>
        </div>
    </div>
</footer>